
  /*GENERAL STYLES*/
  *
  {
    box-sizing: border-box;
    margin: 0px;
  }

  #main-body
  {
    background-color: #EDEDED;
  }

  .sections
  {
    padding: 5rem;
  }

  .titles
  {
    border-bottom: 0.15rem #c1c1c1 solid;
    width: auto;
    word-wrap: break-word;
    display:inline-block;
    width: fit-content;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .even
  {
    background-color: #edeeef;
  }

  .odd
  {
    background-color: white;
  }
  /*END*/


  /*NAVBAR STYLES*/
  #main-nav
  {
    margin-top: 0;
    /*background-color:  rgb(43 71 130);*/
    background-color: #283346;
    /*color: rgb(211 207 201);*/
    color: white;
  }

  .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover
  {
    color: white;
  }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
  {
    color: #3870ff;
  }

  .wide-nav
  {
    margin-left: 2rem;
  }

  .collapsing
  {
    height: auto;
  }
  /*END*/


  /*WELCOME STYLES*/
  #welcome-photo
  {
    width:200px;
    height: 200px;
    margin: 0;
  }

  #welcome
  {
    padding: 2.5rem;
    padding-top: 7.5rem;
    max-width: 100%;
    background-color: #3870ff;
    /*
      background-image: url("../icons/sherlock.jpg");
      background-size: cover;
    */
    height: 80vh;
  }

  .welcome-info
  {
    color: white;
  }
  /*END*/

  /* ABOUT STYLES */
  #about-img
  {
    width: 15rem;
  }

  .info
  {
    border:2px solid #050544;
  }

  .list-group-item
  {
    background-color: #edeeef;
  }
  /*END*/

  /*PROJECTS STYLES*/
  .row
  {
    row-gap: 4em;
  }

  .card
  {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 1px solid rgb(0 0 0 / 13%);
    border-radius: 10%;
  }

  .card-title
  {
    margin-top: 2em;
    font-weight: bold;
  }

  .card-text
  {
    width:80%;
  }

  .card-img-top
  {
    width: 100%;
  }

  button[data-bs-toggle]
  {
    background-color: #3870ff;
  }

  #projects-info
  {
    width: 60%;
    text-align: center;
  }

  .btn-primary
  {
    border: none;
  }
  /*END*/


  /*CANVAS STYLES*/
  .offcanvas
  {
    height: 100vh;
    flex: 1;
    width: 100vw;
    background-color: #edeeef;
    transform: scale(0.1);
  }

  .project-image
  {
    height: 20rem;
    width: 40rem;
  }

  .offcanvas-header
  {
    width: 100vw;
  }

  .offcanvas-body::-webkit-scrollbar
  {
    display: none;
  }

  .offcanvas-body
  {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /*END*/


  /*PROJECT STYLES*/
  #project-header
  {
    padding: 0;
  }

  .project-info
  {
    margin: 0;
  }

  #project-description
  {
    height: 50%;
  }

  .badge
  {
    margin-left: 2em;
    margin-bottom: 0;
    background-color: #fcde67;
  }

  .content
  {
    height: 60vh;
  }

  .carousel-img
  {
    width: 100%;
    object-fit: cover;
    height: 60vh;
    overflow: hidden;
    object-position: center;
  }
  /*END*/


  /*CONTACTS STYLES*/
  #contacts img, #contacts svg
  {
    height: 4em;
    width: 4em;
    color: #3870ff;
  }

  #contacts li
  {
    list-style-type: none;
  }

  #contacts
  {
    max-width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  i
  {
    margin-top: 1em;
  }

  .contact-items
  {
    margin-top: 0;
    margin-left: 1rem;
    font-size: 75%;
  }

  .enlarge:hover
  {
    cursor: pointer;
    transform: scale(1.3);
  }
  /*END*/


  /*SKILLS STYLES*/
  .skill-item
  {
    margin-top: 1rem;
  }

  .skill-left
  {
      background-color: #fcde67;
  }

  .skill-right
  {
    background-color: #3870ff;
  }

  .progress
  {
    background-color: #c1c1c1;
    width: 40%;
  }

  .list-unstyled
  {
    margin-right: 2.8rem;
  }

  .row-skill
  {
    margin: 0;
  }

  .skills-category
  {
      margin-bottom: 2rem;
      margin-top: 1rem;
  }

  #row-skills
  {
    margin-top: 2rem;
  }
  /*END*/


  /*FOOTER STYLES*/
  footer
  {
    /*To keep it at the bottom*/
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    /*Colors*/
    /*background-color:  rgb(24 26 27 / 95%);*/
    /*background-color: #3D6098;
    color: rgb(211 207 201);
    */
    background-color: #283346;
    /*color: rgb(211 207 201);*/
    color: white;
    z-index: 1;
  }

  #Copyrights
  {
    margin: 0;
  }

  .footer-icons
  {
    margin-bottom: 0.25rem;
  }

  .contact-icons
  {
    margin-left: 1em;
    margin-right: 1em;
  }
  /*END*/


  /*MEDIA QUERIES*/
  @media (min-width: 576px)
  {
    .wide-nav
    {
      display: flex;
      justify-content: end;
      margin-right: 1.5rem;
    }

    .navbar-collapse
    {
      flex-grow: 0;
    }

    .helper .navbar-toggler-icon
    {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      color: red;
    }

  }


  @media screen and (max-width: 992px)
  {

    .column-at-small
      {
      flex-direction: column!important;
      }

      .center-at-small
      {
        justify-content: center!important;
        border: none!important;
        align-items: center!important;
      }

      .skills-category
      {
        margin-top: 2rem;
      }

      .p-full-size
      {
        width: 100%!important;
        text-align: center;
      }

      .border-at-small
      {
        border-bottom:  1px solid rgba(0,0,0,.125)!important;
      }

      .progress
      {
        width: 100%!important;
      }

  }
  /*END*/
